
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    min-height: 100%;
}
body{
    font-family: sans-serif;
    /* background-color: #8BC6EC; */
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-repeat: no-repeat;
}

/* table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  .table-container{
      overflow-x: auto;
      box-shadow: 10px 10px 5px grey;
  }
   */
  #heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .table-container{
      padding: 0 10%;
      margin: 40px auto 0;
  }

  .info{
    padding: 0 15%;
    margin: 40px auto 0; 
    line-height: 1.6;
  }
  .table{
      width: 100%;
      border-collapse: collapse;
  }



  .table thead tr th{
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.35px;
      color: #000;
      opacity: 1;
      padding: 12px;
      vertical-align: top;
      border-bottom: 1px solid rgb(119, 119, 168);
  }

  .table tbody tr td{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color: #000;
    opacity: 1;
    padding: 8px;
    text-align: center;
  }

  /* @media(max-width: 768px){
      .table thead{
          display: none;
      }
      .table, .table tbody, .table tr, .table td{
          display: block;
          width: 100%;
      } 

      .table tr{
          margin-bottom: 15px;
      }
   }
*/
