body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

 
}
.container{
    width: 80%;
    margin: 30px auto;
}
#title1{
    padding-right: 193px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 7px;
}
#title2{
    padding-right: 197px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 7px;
}
#title3{
    padding-right: 197px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 7px;
}
#title4{
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 7px;
}
.info {
     margin: 30px 0px;
    font-size: 20px;
 }
 
